.additional {
  padding-bottom: 35px;
  max-width: 320px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;

  &::before {
    content: "";
    position: absolute;
    width: 54px;
    height: 2px;
    background-color: @color-green;
    right: 0;
    top: 14px;
  }

  &__title {
    color: @color-text--black;
    font-size: 24px;
    line-height: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  &__item {
    border-top: 1px solid #e6e6e6;
    padding-bottom: 18px;

    &:last-child {
      border-bottom: 1px solid #e6e6e6;
    }
  }

  &__name {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 16px;
    color: #222222;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    margin-top: 16px;
  }

  &__link {
    position: relative;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 280px;
    min-height: 290px;
    box-sizing: border-box;
    background-color: @color-green;
    background-image: url("../img/gift-photo-mobile@1x.jpg");

    @media
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
      background-image: url("../img/gift-photo-mobile@2x.jpg");
      background-size: 280px 289px;
    }

    &::before {
      width: 56px;
      height: 60px;
      content: "";
      position: absolute;
      background-image: url("../img/icon-gift.svg");
      top: 62px;
      left: 114px;
    }
  }

  &__text {
    text-align: center;
    width: 170px;
    padding-bottom: 50px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
  }

  @media @screen-sm {
    max-width: initial;
    padding-bottom: 80px;

    &::before {
      width: 100%;
      z-index: -1;
    }

    &__title {
      width: max-content;
      padding: 0 38px;
      background-color: @color-text--white;
      margin-top: 72px;
      margin-bottom: 72px;
    }

    &__item {
      display: flex;
      flex-wrap: wrap;
      border: 1px solid #e6e6e6;
      border-bottom: none;
      padding: 28px 40px;

      &:last-child {
        border-bottom: 1px solid #e6e6e6;
      }
    }

    &__inner {
      margin-left: auto;
    }

    &__btn {
      width: 100%;
      margin-top: 23px;
    }

    &__name {
      margin: 0;
    }

    &__quantity,
    &__cost {
      font-family: Arial, sans-serif;
      font-size: 16px;
      line-height: 20px;
      color: @color-text--grey;
    }

    &__quantity {
      margin-right: 55px;
    }

    &__link {
      margin-top: 70px;
      width: 100%;
      background-image: url("../img/gift-photo-tablet@1x.jpg");
      min-height: 200px;
      align-items: flex-end;
      justify-content: center;

      @media
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
      background-size: 708px 200px;
    }
    }

    &__text {
      padding-bottom: 0;
      padding-right: 125px;
      text-align: left;
    }
  }

  @media @screen-md {
    padding-bottom: 87px;

    &::before {
      top: 23px;
    }

    &__title {
      font-size: 36px;
      line-height: 36px;
    }

    &__wrapper {
      display: flex;
      justify-content: space-between;
    }

    &__column {
      &:first-child {
        width: 895px;
        margin-right: 80px;
      }
    }

    &__link {
      margin-top: 0;
      min-height: 290px;
      width: 245px;
      background-image: url("../img/gift-photo-desktop@1x.jpg");
      align-items: center;
      justify-content: flex-end;

      @media
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi) {
        background-image: url("../img/gift-photo-desktop@2x.jpg");
        background-size: 245px 289px;
      }

      &::before {
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &__text {
      padding: 0;
      padding-bottom: 42px;
      text-align: center;
    }

    &__btn {
      width: 245px;
      margin-top: 0;
    }

    &__item {
      align-items: baseline;
      justify-content: space-between;
      padding-left: 0;
      border-left: none;
      padding-right: 0;
      border-right: none;
      padding-top: 16px;
      padding-bottom: 15px;
      flex-wrap: nowrap;
    }

    &__inner {
      margin-left: initial;
      max-width: 285px;
      width: 36%;
      margin-right: 40px;
    }

    &__quantity {
      margin: 0;
    }

    &__name {
      margin-right: auto;
    }


  }
}
