.categories {
  margin-bottom: 30px;

  &__title {
    color: @color-text--black;
    font-size: 24px;
    line-height: 38px;
    text-align: left;
    padding-left: 70px;
    text-transform: uppercase;
    margin-bottom: 36px;
  }

  &__item {
    position: relative;
    padding: 22px;
    background-color: @color-grey;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      width: 51px;
      height: 51px;
      border-radius: 50%;
      background-color: @color-green;
      top: 22px;
      left: 22px;
      z-index: -1;
    }

    &:first-child {
      &::after {
        width: 35px;
        height: 49px;
        background-image: url("../img/icon-cat-slim.svg");
        content: "";
        position: absolute;
        top: 22px;
        left: 30px;
      }
    }

    &:last-child {
      margin-bottom: 0;

      &::after {
        width: 67px;
        height: 28px;
        background-image: url("../img/icon-cat-pro.svg");
        content: "";
        position: absolute;
        top: 35px;
        left: 10px;
      }
    }
  }

  &__text {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: @color-text--grey;
    padding-bottom: 26px;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 20px;
  }

  &__link {
    position: relative;
    font-family: 'Oswald', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: @color-text--black;
    text-transform: uppercase;

    &::before {
      width: 24px;
      height: 11px;
      background-image: url("../img/icon-right-arrow-long.svg");
      content: "";
      position: absolute;
      top: 50%;
      right: -37px;
      transform: translateY(-50%);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      background-position: -10px;
      transition: all 0.3s ease-in-out;
    }

    &:hover {
            &::before {
        background-position: left;
        transition: all 0.3s ease-in-out;
      }
    }

    &:active {
      opacity: 0.3;
    }
  }

  @media @screen-sm {
    margin-bottom: 46px;

    &__item {
      padding-left: 52px;
      padding-top: 76px;
      padding-bottom: 60px;
      max-width: 707px;
      box-sizing: border-box;
      margin: 0 auto;
      margin-bottom: 30px;

      &:first-child {
        &::after {
          height: 194px;
          width: 140px;
          top: 50%;
          right: 15%;
          transform: translateY(-50%);
          left: initial;
        }
      }

      &:last-child {
        margin-bottom: 0;

        &::after {
          height: 113px;
          width: 270px;
          top: 50%;
          right: 5%;
          transform: translateY(-50%);
          left: initial;
        }
      }

      &::before {
        width: 200px;
        height: 200px;
        top: 50%;
        transform: translateY(-50%);
        right: 10%;
        left: initial;
      }
    }

    &__title {
      padding: 0;
      font-size: 36px;
      line-height: 38px;
      margin-bottom: 20px;
    }

    &__text {
      width: 50%;
      //width: 335px;
      margin-bottom: 40px;
      border: none;
      font-size: 16px;
      line-height: 24px;
    }

    &__link {
      font-size: 20px;
      line-height: 20px;
    }
  }

  @media @screen-md {
    margin-bottom: 80px;

    &__inner {
      display: flex;
    }

    &__item {
      margin-bottom: 0;
      margin-right: 80px;
      max-width: 570px;
      padding-right: 30px;

      &::before {
        width: 100px;
        height: 100px;
        left: 52px;
        top: 100px;
        right: initial;
      }

      &:first-child {
        &::after {
          width: 70px;
          height: 97px;
          left: 65px;
          top: 95px;
        }
      }

      &:last-child {
        margin-right: 0;

        &::after {
          width: 134px;
          height: 56px;
          left: 28px;
          top: 104px;
        }
      }
    }

    &__title {
      padding-left: 160px;
      margin-bottom: 66px;
    }

    &__text {
      width: 100%;
      padding-bottom: 0;
    }
  }
}
