.features {


  &__title {
    color: @color-text--black;
    margin-bottom: 40px;
  }

  &__item {
    padding-left: 80px;
    margin-bottom: 32px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 60px;
      height: 60px;
      background-color: @color-green;
      background-position: center center;
      background-repeat: no-repeat;
    }

    &:first-child {
      &::before {
        background-image: url("../img/advantage-leaf@1x.png");
      }
    }

    &:nth-child(2){
      &::before {
        background-image: url("../img/advantage-powder@1x.png");
      }
    }

    &:nth-child(3){
      &::before {
        background-image: url("../img/advantage-dining@1x.png");
      }
    }

    &:last-child {
      &::before {
        background-image: url("../img/advantage-clock@1x.png");
      }
    }
  }

  &__text {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: @color-text--grey
  }
}
