.map {
  &__info {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__title {
    color: @color-text--black;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
  }

  &__text {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: @color-text--grey;
  }

  #yandex-map {
    min-height: 360px;
    background-image:  url("../img/map-pin.png"), url("../img/bg-map-mobile@1x.png");
    background-position: center center;
    background-repeat: no-repeat;
  }

  #yandex-map iframe {
    min-height: 360px;
    border: none;
    vertical-align: top;
  }

  @media @screen-sm {

    &__info {
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 65px;
      padding-bottom: 65px;
    }

    &__title {
      width: min-content;
      font-size: 20px;
      line-height: 25px;
    }

    &__text {
      width: 160px;
      font-size: 16px;
      line-height: 20px;
      text-align: right;
    }

    &__address {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    #yandex-map {
      min-height: 396px;
      background-image:  url("../img/map-pin.png"), url("../img/bg-map-tablet@1x.png");

      & iframe {
        min-height: 396px;
      }
    }
  }

  @media @screen-md {
    position: relative;

    &__info {
      box-sizing: border-box;
      position: absolute;
      top: 95px;
      left: 110px;
      width: 570px;
      min-height: 200px;
      background-color: @color-text--white;
    }

    #yandex-map {
      background-image:  url("../img/map-pin.png"), url("../img/bg-map-desktop@1x.png");
      min-height: 400px;

      & iframe {
        min-height: 400px;
      }
    }
  }
}
