.page-header {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 100% 65px;
  background-size: contain;

  &__logo {
    margin: 0;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  &__inner {
    position: relative;
    padding-top: 11px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__toggle {
    box-sizing: border-box;
    height: 18px;
    width: 24px;
    position: relative;

    & span {
      position: absolute;
      display: block;
      width: inherit;
      height: 2px;
      background-color: #222222;
      transition: all 0.2s ease-in-out;


      &:first-child {
        top: 0;
      }

      &:nth-child(2) {
        top: 8px;
      }

      &:last-child {
        top: 16px;
      }
    }

    &--opened {
      & span {
        &:first-child {
          transform: rotate(45deg);
          top: 8px;
          transition: all 0.2s ease-in-out;
        }

        &:nth-child(2) {
          opacity: 0;
          transition: all 0.2s ease-in-out;

        }

        &:last-child {
          transform: rotate(-45deg);
          top: 8px;
          transition: all 0.2s ease-in-out;

        }
      }
    }
  }

  @media @screen-sm {
    background-image: none;

    &__toggle {
      display: none;
    }

    &__inner {
      padding: 0;
      margin-right: auto;
      flex-shrink: 0;
    }

    &__wrapper {
      display: flex;
      align-items: flex-start;
      padding-top: 24px;
    }
  }

  @media @screen-md {
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-size: 50% 700px;
    background-position: right top;
  }

}
