.page-footer {

  &__inner {
    background-color: @color-grey;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__logo {
    padding-top: 39px;
    padding-bottom: 32px;
  }

  &__link {
    display: block;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #d9d9d9;

    &--author {
      padding-top: 30px;
      padding-bottom: 30px;
      border: none;
    }
  }

}
